<div class='share-url'>
	<h3>
		Share this url!
	</h3>
	<a href='{{{shareLink}}}'>
		{{{shareLink}}}
	</a>
</div>

<a href="#" class='btn-facebook'
	data-share-facebook
	data-share-description="{{{shareMessage}}}"
	data-share-link="{{{encodedUrl}}}"
	data-share-name="{{{shareTitle}}}"
	data-share-caption="Caption">

	Facebook
</a>
<a href="#" class='btn-twitter'
	data-share-twitter
	data-share-description="{{{shareMessage}}}"
	data-share-link="{{{encodedUrl}}}">

	Twitter
</a>
<a href='#' class='btn-tumblr'>Tumblr</a>
<a href='#' class='btn-copy'>Copy link to clipboard</a>