
<div class='btn-back'>
	&lt; BACK TO EDIT FIELDS
</div>
<div class='track-data'>
	<h1>
		{{{shareName}}}
	</h1>
	<h3>
		{{{shareTitle}}}
	</h3>
	<p>
		{{{shareMessage}}}
	</p>
</div>


{{!-- Second, services screen --}}

<div class='services'>
	<span>
		Select a Service
	</span>

	<div class='service-btns'>
		<div class='btn-facebook icon-facebook icon'
			data-share-facebook
			data-share-description="{{{shareMessage}}}"
			data-share-link="{{{encodedUrl}}}"
			data-share-name="{{{shareTitle}}}"
			data-share-caption="Caption">
		</div>
		<div class='btn-twitter icon-twitter icon'
			data-share-twitter
			data-share-description="{{{shareMessage}}}"
			data-share-link="{{{encodedUrl}}}">
		</div>
		<div class='btn-tumblr icon-tumblr icon'>

		</div>
	</div>
</div>

{{#if isDesktop}}
	<div class='btn-copy-url' data-clipboard-text='{{{shareLink}}}'>
		<div class='text'>
			<div class='url'>
				http://bit.ly/1c1HY4c
			</div>
			<div class='copy'>
				COPY
			</div>
		</div>
	</div>
{{/if}}